@import "variables";
@import "bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";

body {
  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

body > header {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  .avatar {
    width: 50%;
    margin-bottom: 2rem;
    max-width: 250px;
  }
  @include media-breakpoint-down(md) {
    @include make-container();
    @include make-container-max-widths();
    margin-top: 100px;
  }
  @include media-breakpoint-up(lg) {
    width: 33%;
    background: $brand-secondary url(../images/bg.jpg) center;
    background-size: cover;
    position: fixed;
    height: 100%;
    color: rgba(#fff, 0.9);
    padding-bottom: 5rem;
  }
  h1, p {
    @include media-breakpoint-up(lg) {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
  }
  p {
    width: 90%;
    margin-left: 5%;
    @include media-breakpoint-up(lg) {
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  nav {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
    margin-top: 2rem;
    text-align: center;
    padding: 2rem;
    color: rgba(#fff, 0.5);
    a {
      color: rgba(#fff, 0.5);
      &:hover {
        color: $brand-primary;
      }
      border-bottom: none;
      font-size: 32px;
      margin: 0.5rem;
      span {
        display: none;
      }
    }
  }
}

body > main {
  margin-top: 70px;
  margin-bottom: 2rem;
  & > article, & > footer {
    @include make-container();
    @include make-container-max-widths();
    header, section, footer {
      @include make-col-ready();
      @include make-col(12);
      @include media-breakpoint-up(lg) {
        @include make-col(10);
        @include make-col-offset(1);
      }
      @include media-breakpoint-up(xl) {
        @include make-col(8);
        @include make-col-offset(2);
      }
    }
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
    right: 0;
    width: 66%;
  }
  footer {
    margin-top: 2rem;
    text-align: center;
    padding: 2rem;
    font-size: 12px;
  }
}

h2 {
  padding-top: 70px;
}

.heart {
  color: $heart-color;
}

img {
  max-width: 100%;
  &.avatar {
    border-radius: 100%;
  }
}

// Contact
nav.links {
  display: flex;
  flex-direction: column;
  a::before {
    padding-right: 0.5rem;
  }
}

// Footer
body > footer {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 33%;
  }
  margin-top: 2rem;
  padding: 2rem;
  font-size: 12px;
  color: rgba(#fff, 0.5);
  a {
    color: rgba(#fff, 0.5);
    &:hover {
      color: $brand-primary;
    }
  }
  nav {
    text-align: center;
    margin-bottom: 1rem;
    a {
      border-bottom: none;
      font-size: 32px;
      margin: 0.5rem;
      span {
        display: none;
      }
    }
  }
}

// icons
a[href^=mailto] {
  &::before {
    @include fa-icon();
    content: $fa-var-envelope-o;
    padding-right: 0.25rem;
  }
}

a[href^='https://twitter.com'] {
  &::before {
    @include fa-icon();
    content: $fa-var-twitter;
    padding-right: 0.25rem;
  }
}

a[href^='https://www.linkedin.com'] {
  &::before {
    @include fa-icon();
    content: $fa-var-linkedin;
    padding-right: 0.25rem;
  }
}

a[href^='https://www.xing.com'] {
  &::before {
    @include fa-icon();
    content: $fa-var-xing;
    padding-right: 0.25rem;
  }
}

a[href^='https://angel.co'] {
  &::before {
    @include fa-icon();
    content: $fa-var-angellist;
    padding-right: 0.25rem;
  }
}

a[href^='https://github.com'] {
  &::before {
    @include fa-icon();
    content: $fa-var-github;
    padding-right: 0.25rem;
  }
}

a[href^='https://www.facebook.com'] {
  &::before {
    @include fa-icon();
    content: $fa-var-facebook-official;
    padding-right: 0.25rem;
  }
}

a[href^='http://www.flickr.com'] {
  &::before {
    @include fa-icon();
    content: $fa-var-flickr;
    padding-right: 0.25rem;
  }
}

// No icon in header
body > header {
  a[href^='http://www.flickr.com'] {
    &:before {
      content: "";
    }
    border-bottom: none;
  }
}

a[href^='http://www.amazon.de'] {
  &::before {
    @include fa-icon();
    content: $fa-var-amazon;
    padding-right: 0.25rem;
  }
}

a[href^='http://pgp.mit.edu'] {
  &::before {
    @include fa-icon();
    content: $fa-var-lock;
    padding-right: 0.25rem;
  }
}

a[href^='tel:'] {
  &::before {
    @include fa-icon();
    content: $fa-var-mobile-phone;
    padding-right: 0.25rem;
  }
}

a[href^='https://docs.google.com/'],
a[href^='https://drive.google.com/'] {
  &::before {
    @include fa-icon();
    content: $fa-var-file-powerpoint-o;
    padding-right: 0.25rem;
  }
}

a[href^='https://www.youtube.com/'] {
  &::before {
    @include fa-icon();
    content: $fa-var-youtube-play;
    padding-right: 0.25rem;
  }
}

a[href^="https://goo.gl/maps/"] {
  &::before {
    @include fa-icon();
    content: $fa-var-map-marker;
    padding-right: 0.25rem;
  }
}
