aside.hero picture {
  width: 100%;
}

aside.hero picture img {
  height: auto;
  display: block;
}

@media screen and (min-width: 700px) {
  aside.hero {
    display: flex;
    margin-bottom: 8rem;
    margin-top: 8rem;
    justify-content: center;
  }

  aside.hero picture {
    max-width: 70vw;
    width: 100%;
    height: auto;
  }

  aside.hero picture img {
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 5px #00000014;
  }
}
