:root {
  --background-color: #ffffff;
  --background-color-dark: #191919;
  --highlight-color: #007da7;
  --highlight-color-on-dark: #03a6dd;
  --note-bg-color: #e7f9ff;
  --text-color: #3f3f3f;
  --text-color-light: #ffffffd9;
  --heart-color: #e00073;
  --heart-color-on-note: #d8006f;
  --small-font-size: 12px;
  --max-width: 700px;
  --color-syntax-ChelseaGem: #aa5d00;
  --color-syntax-DeepCerulean: #007faa;
  --color-syntax-DoveGray: #696969;
  --color-syntax-Emperor: #545454;
  --color-syntax-JapaneseLaurel: #008000;
  --color-syntax-Thunderbird: #d91e18;
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
  line-height: 115%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", serif;
  font-weight: 700;
  line-height: 115%;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.mt-4 {
  margin-top: 2rem;
}

.ms-1 {
  margin-left: 0.5rem;
}

.me-1 {
  margin-right: 0.5rem;
}

.text-align-right {
  text-align: right;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dim {
  opacity: 0.5;
}
