nav.main {
  font-family: "Raleway", sans-serif;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

nav.main strong {
  font-weight: 700;
}

nav.main a {
  text-decoration: none;
}

nav.main a:hover {
  text-decoration: underline;
}

nav.main .logo {
  font-size: 25px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
}

nav.main .heart {
  width: calc(25px * 1.25);
  height: calc(25px * 1.25);
}

nav.main .links {
  text-transform: uppercase;
  margin-top: 1rem;
}

@media (min-width: 700px) {
  nav.main .links {
    margin-top: 0;
  }
}

nav.main .links a {
  color: var(--text-color);
  font-weight: 500;
}

nav.main .links a:hover {
  color: var(--highlight-color);
  text-decoration: none;
}

nav.main .links a + a {
  margin-left: 1rem;
}

nav.main .wrapper {
  padding: 0 1rem;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 700px) {
  nav.main .wrapper {
    padding: 0;
    margin: 0 auto;
    flex-direction: row;
  }
}
