img.me {
  display: inline-block;
  border-radius: 100%;
  border: 2px solid var(--heart-color);
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: calc((100vw / 2) - (154px / 2) - 1rem);
  box-shadow: 0px 0px 15px 3px #00000057;
  width: 150px;
  height: 150px;
}

@media (min-width: 700px) {
  img.me {
    margin-left: calc(700px / 2 - 154px / 2);
  }
}
