$brand-primary: #00b4ef;

@import "../../node_modules/@coderbyheart/underline/scss/module/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/@coderbyheart/underline/scss/module/base";
@import "../../node_modules/@coderbyheart/underline/scss/module/header";
@import "../../node_modules/@coderbyheart/underline/scss/module/hero";
@import "../../node_modules/@coderbyheart/underline/scss/module/footer";
@import "../../node_modules/@coderbyheart/underline/scss/module/main";
@import "../../node_modules/@coderbyheart/underline/scss/module/sharingbuttons";
@import "../../node_modules/@coderbyheart/underline/scss/module/icons";

aside {
  img {
    width: 40%;
    float: right;
    border-radius: 100%;
    margin-left: 0.5rem;
  }
}

body > footer nav.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    font-size: 300%;
  }
}
